

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a style="cursor: pointer;" (click)="GoToHome();"><i class="fa fa-home"></i> Home</a>
                        <a style="cursor: pointer;" (click)="GOToCategory(product.categoryName);">
                            @if(isLoading){
                                <ngx-skeleton-loader
                                count="1"
                                [theme]="{ height: '15px', width: '100px' , 'margin-bottom': '-2px' }"
                                    ></ngx-skeleton-loader>
                            }
                            @else{
                            {{product.categoryName}}’s 
                            }
                        </a>
                        <span>

                            @if(isLoading){
                                <ngx-skeleton-loader
                                count="1"
                                [theme]="{ height: '15px', width: '100px' , 'margin-bottom': '-2px' }"
                                    ></ngx-skeleton-loader>
                            }
                            @else{
                            {{product.name}}
                        }
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    @if(isLoading){
                        <ngx-skeleton-loader
                        count="1"
                        [theme]="{ height: '700px', width: '100%' , 'margin-bottom': '-2px' }"
                            ></ngx-skeleton-loader>
                        

                    }
                    @else{
                    <!-- add here image slider here -->
                    <app-image-slider [images]="ColorImages"></app-image-slider>

                    }
                </div>
                
                <div class="col-lg-6">
                    @if(isLoading){
                        <ngx-skeleton-loader
                        count="1"
                        [theme]="{ height: '30px', width: '100%' , 'margin-bottom': '-2px' }"
                            ></ngx-skeleton-loader>
                        
                            <ngx-skeleton-loader
                            count="1"
                            [theme]="{ height: '30px', width: '80%' , 'margin-bottom': '-2px' }"
                                ></ngx-skeleton-loader>
                                <ngx-skeleton-loader
                        count="1"
                        [theme]="{ height: '20px', width: '100%' , 'margin-bottom': '-2px' }"
                            ></ngx-skeleton-loader>
                            <ngx-skeleton-loader
                        count="1"
                        [theme]="{ height: '20px', width: '60%' , 'margin-bottom': '-2px' }"
                            ></ngx-skeleton-loader>
                            <ngx-skeleton-loader
                            count="1"
                            [theme]="{ height: '30px', width: '100%' , 'margin-bottom': '-2px' }"
                                ></ngx-skeleton-loader>
                            
                                <ngx-skeleton-loader
                                count="1"
                                [theme]="{ height: '30px', width: '80%' , 'margin-bottom': '-2px' }"
                                    ></ngx-skeleton-loader>
                                    <ngx-skeleton-loader
                            count="1"
                            [theme]="{ height: '20px', width: '100%' , 'margin-bottom': '-2px' }"
                                ></ngx-skeleton-loader>
                                <ngx-skeleton-loader
                            count="1"
                            [theme]="{ height: '20px', width: '60%' , 'margin-bottom': '-2px' }"
                                ></ngx-skeleton-loader>
                                <ngx-skeleton-loader
                                count="1"
                                [theme]="{ height: '30px', width: '100%' , 'margin-bottom': '-2px' }"
                                    ></ngx-skeleton-loader>
                                
                                    <ngx-skeleton-loader
                                    count="1"
                                    [theme]="{ height: '30px', width: '80%' , 'margin-bottom': '-2px' }"
                                        ></ngx-skeleton-loader>
                                        <ngx-skeleton-loader
                                count="1"
                                [theme]="{ height: '20px', width: '100%' , 'margin-bottom': '-2px' }"
                                    ></ngx-skeleton-loader>
                                    <ngx-skeleton-loader
                                count="1"
                                [theme]="{ height: '20px', width: '60%' , 'margin-bottom': '-2px' }"
                                    ></ngx-skeleton-loader>
       
                    }  @else{
                    <div class="product__details__text">
                       
                        <h3 class="pdct-name">{{product.name}}</h3>
                        

                   
                        <div   [ngClass]="{
                            'product__details__price': product.priceAfterDiscount < product.priceBeforeDiscount,
                            'productdetailspricenodis': product.priceAfterDiscount >= product.priceBeforeDiscount
                          }"> {{product.priceAfterDiscount | egpCurrency}}  @if(product.discount > 0) {<span> {{product.priceBeforeDiscount | egpCurrency}}</span> }
                        
                        </div>
                        <p>{{product.summary}}</p>
                        <div class="product__details__button product__details__actions">
                            @if(!product.isOutOfStock && !last){
                               
                            }
                        <div class="prdct-btn">
                            @if(!product.isOutOfStock && !last){
                                <a style="cursor: pointer;" (click)="CheckstockBeforeAddtoCart()" class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</a>
                            }@else if(product.isOutOfStock){

                            }
                            @else {
                                <button style="cursor: pointer;" [ngClass]="{ 'disabled-opacity': last }"  [disabled]="last" class="cart-btn"><i class="fa-solid fa-check"></i> Added to cart</button>
                            }
            
                            <ul>
                                <li><a [ngClass]="{'heart-icon-active': isInWishlist(product.id)}" 
                                    (click)="toggleWishlist(product.id)" id="HeartIcon"><span [ngClass]="{'span-heart-icon-active': isInWishlist(product.id)}" class="icon_heart_alt"></span></a></li>
                                <li><a style="cursor: pointer;" (click)="ScrollToDetails()"><span class="icon_adjust-horiz"></span></a></li>
                            </ul>
                        </div>
                        </div>
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Availability:</span>
                                    <div class="stock__checkbox">
                                        <p>
                                            @if(product.isOutOfStock){
                                                Out Of Stock
                                            }
                                            @else {
                                                In Stock
                                            }
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <span>Available color:</span>
                                    <div class="color__checkbox">
                                        @for(color of AvailableColors; track color.colorId){
                                            <label for="red">
                                                <div type="radio" name="color__radio" id="red"></div>
                                                <span class="checkmark"  (click)="GetColorImages(color.colorId)" [ngStyle]="{'background': color.colorCode , 'border': ( color.colorCode == '#fff' || color.colorCode == '#ffffff' ) ? '1px solid black' : '' }"></span>
                                            </label>
                                        }
                                    </div>
                                </li>
                                <li>
                                    <span>Available size:</span>
                                    <div class="size__btn">
                                        @for(size of groupedSizes; track size){
                                            <label id="sizelabel" [ngClass]="{ 'active': PutStyle === size.sizeName }" (click)="ChangeNewStyle(size.sizeName,size.sizeId ,size.colors)">
                                                <input type="radio" id="xs-btn">
                                                {{size.sizeName}}
                                            </label>
                                        }
                                    </div>
                                </li>
                                <li>
                                    <span>Promotions:</span>
                                    <p>Free shipping</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                }

                </div>
                <div class="col-lg-12">
                    @if(isLoading){
                        <ngx-skeleton-loader
                        count="1"
                        [theme]="{ height: '30px', width: '100%' , 'margin-bottom': '-2px' ,'margin-top': '50px' }"
                            ></ngx-skeleton-loader>
                        
                            <ngx-skeleton-loader
                            count="1"
                            [theme]="{ height: '30px', width: '80%' , 'margin-bottom': '-2px' }"
                                ></ngx-skeleton-loader>
                                <ngx-skeleton-loader
                        count="1"
                        [theme]="{ height: '20px', width: '100%' , 'margin-bottom': '-2px' }"
                            ></ngx-skeleton-loader>
                            <ngx-skeleton-loader
                        count="1"
                        [theme]="{ height: '20px', width: '100%' , 'margin-bottom': '-2px' }"
                            ></ngx-skeleton-loader>
       
                    }  @else{

                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <!-- <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-2" role="tab">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"></a>
                            </li> -->
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Description</h6>
                                <p>{{product.fullDescription}}</p>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <h6>Specification</h6>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                    quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                    Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                    voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                consequat massa quis enim.</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                    dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                quis, sem.</p>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <h6>Reviews ( 2 )</h6>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                    quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                    Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                    voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                consequat massa quis enim.</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                    dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                quis, sem.</p>
                            </div>
                        </div>
                    </div>
                }

                </div>
            
            </div>
            @if(relatedproducts.length > 0){
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="related__title">
                            <h5>RELATED PRODUCTS</h5>
                        </div>
                    </div>
                    @for(product of relatedproducts; track product){
                        <div class="col-lg-3 col-md-4 col-sm-6 mix accessories">
                            <div class="product__item">
                                <app-card [product]="product"></app-card>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </section>
    <!-- Product Details Section End -->