.product__details__actions {
    display: flex;
    align-items: center;
}
.prdct-btn{
    display: flex;
}
.cart-btn{
    margin-bottom: 0;
    border: none;
}
#sizelabel{
    font-size: 20px;
}
#HeartIcon{
    cursor: pointer;
}
.heart-icon {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}
.disabled-opacity {
    opacity: 0.5;
    pointer-events: none; /* Prevent hover or click effects */
    cursor: not-allowed;
  }

/* Font size for screens 768px or smaller (e.g., tablets) */
@media (max-width: 768px) {
    .pdct-name {
        font-size: 1.5rem;
    }
}

/* Font size for screens 480px or smaller (e.g., mobile devices) */
@media (max-width: 480px) {
    .pdct-name {
        font-size: 1.25rem;
    }
}

@media (max-width: 772px) {
    .product__details__actions {
        flex-direction: column;
        gap: 2rem;
    }

    .prdct-btn{
        align-items: center;
        text-align: center;
        gap: 2rem;
        flex-direction: column;
    }
}

@media (min-width: 990px) and (max-width: 1200px) {
    .product__details__actions {
        flex-direction: row;
        gap: 2rem;
    }
    .prdct-btn{
        align-items: center;
        text-align: center;
        gap: 2rem;
        flex-direction: column;
    }

    .cart-btn{
        margin: 0;
    }
}

.heart-icon-active {
    background-color: black;
    color: white;
}

.q-counter{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.productdetailspricenodis{
    font-size: 30px;
	font-weight: 600;
	color: #818589;
	margin-bottom: 30px;
}

