a {
    cursor: pointer;
}

.skeleton-multi-line-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 5px; /* Adds uniform spacing */
  }

  @media (max-width: 768px) {
    .accessories{
        width: 50% !important;
      }
}