<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a style="cursor: pointer;" (click)="GoToHome();"><img src="assets/img/logo.png" alt=""></a>
                    </div>
                    <p>élevé is an Egyptian brand redefining style with elegant, high-quality designs. We create timeless pieces that enhance confidence, blending local roots with global inspiration.</p>
                    <div class="footer__payment">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a style="cursor: pointer;" (click)="GoToHome();">Home</a></li>
                        <li><a style="cursor: pointer;" (click)="GoToContact();">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">

                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>Follow Us</h6>
                    <form>
                    </form>
                    <div class="footer__social">
                        <a style="cursor: pointer;" (click)="goToFaceBook()"><i class="fa fa-facebook"></i></a>
                        <a style="cursor: pointer;" (click)="GoToInstagram()"><i class="fa fa-instagram"></i></a>
                        <a style="cursor: pointer;" (click)="GoToTikTok()"><i class="fa-brands fa-tiktok"></i></a>                          
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright 2025 All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>