<div class="change-password-container">
  <div class="change-password-box">
    <h2>Change Password</h2>
    <form #changepasswordform="ngForm" (ngSubmit)="onSubmit($event,changepasswordform)">
      <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input type="password" id="oldPassword" placeholder="Enter your old password" name="oldpassword" [(ngModel)]="changePasswordobject.currentPassword" #oldpassword="ngModel" required />
        @if(oldpassword.errors?.['required'] && oldpassword.dirty && oldpassword.touched){
            <span>Old Password is required</span>
            }
        @else if(oldpassword.errors?.['required'] && changepasswordform.submitted){
            <span>Old Password is required</span>
           }
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <div class="password-wrapper">
          <input
            type="password"
            id="newPassword"
            placeholder="Enter your new password" name="password" [(ngModel)]="changePasswordobject.newPassword" #password="ngModel"
            required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$"/>
        </div>
            @if(password.errors?.['required'] && password.dirty && password.touched){
            <span>New Password is required</span>
            }
           @else if(password.errors?.['required'] && changepasswordform.submitted){
            <span>New Password is required</span>
           }
           @if(password.errors?.['pattern'] && password.dirty && password.touched){
            <span>
                New Password must meet the following criteria:
            <ul>
                <li>Contain at least 8 characters</li>
                <li>Contain at least one uppercase or lowercase letter</li>
                <li>Contain at least one digit</li>
                <li>Contain at least one special character ($&#64;$!%*#?&)</li>
            </ul>
            </span>
            }
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm New Password</label>
        <div class="password-wrapper">
          <input
            type="password"
            id="confirmPassword"
            placeholder="Confirm your new password" name="confirmpassword" [(ngModel)]="changePasswordobject.confirmNewPassword" #confirmpassword="ngModel" required/>
        </div>
        @if(confirmpassword.errors?.['required'] && confirmpassword.dirty && confirmpassword.touched){
            <span>Confirm Password is required</span>
        }
        @else if(confirmpassword.errors?.['required'] && changepasswordform.submitted){
            <span>Confirm Password is required</span>
        }
        @if(confirmpassword.value != password.value && confirmpassword.dirty && confirmpassword.touched && !(confirmpassword.errors?.['required'])){
            <span>Password is not matching</span>
        }
      </div>
      <button type="submit" class="btn-confirm">Confirm</button>
    </form>
  </div>
</div>

