<!-- Page Preloder -->
 @if(isLoading){

	<div id="logo-spinner" class="bg-white position-fixed show translate-middle vw-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <img id="logo" src="assets/img/logo.png" alt="Loading..." class="logo" />
    </div>
 }
@if(!isErrorRoute){
<app-header></app-header>
}
<router-outlet></router-outlet>
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
	@if(!isErrorRoute){

<app-footer></app-footer>
	}
